@import '../styles/include';
@import '../styles/md-colors';

.theme-happy {
  @mixin bg-color($bg, $color, $flat-color: $bg) {
    background-color: $bg;
    color: $color;
    $bg-hover: darken($bg, 6%);
  
    &:hover {
      background-color: $bg-hover;
    }
    
    &:active {
      background-color: darken($bg-hover, 10%);
      
      &.has-ripple {
        background-color: $bg;
      }
    }
    
    &.flat {
      background-color: transparent;
      color: $flat-color;
      $bg-hover: lighten($flat-color, 10%);
      
      &:hover {
        color: $bg-hover;
      }
      
      &:active {
        background-color: rgba($bg-hover, 0.2);
        color: darken($bg-hover, 10%);
        
        &.has-ripple {
          color: $flat-color;
        }
      }
      
      &:focus {
        border-color: $flat-color;
      }
    }
  }
  
  $br: 3px;
  
  a {
    $color: $md-blue;
    text-decoration: none;
    color: $color;
    
    &:hover {
      color: lighten($color, 20%);
    }
  }
  
  h1 {
    padding: 0;
    margin: 12px;
    font-weight: normal;
  }

  &, .s-component, input, textarea {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    	"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12pt;
  }

  .s-button {
    border-radius: $br;
    padding: 12px;
    height: 32px;
  }

  .s-action {
    font-size: 16px;
    outline: none;
    border: solid 2px transparent;

    &:focus {
      border-color: rgba(black, 0.2);
    }

    @include bg-color($md-grey-300, black, black);

    &.primary {
      @include bg-color($md-blue, white);
    }

    &.special {
      @include bg-color($md-purple-a400, white);
    }

    &.good {
      @include bg-color($md-green, white);
    }

    &.bad {
      @include bg-color($md-red, white);
    }

    &.warning {
      @include bg-color($md-orange, white);
    }
  }

  .s-input {
    border: none;
    padding: 5px;
  }

  .s-text-input {
    background: $md-grey-100;
    border: solid 2px $md-grey-300;
    border-radius: $br;

    .s-text-input-icon {
      margin: 4px 6px;
      font-size: 22px !important;
      transition: color 0.3s;
    }

    &.focus {
      $color: $md-blue;
      background: white;
      border-color: $color;
      
      .s-text-input-icon {
        color: $color;
      }
    }
  }
}
